.map{
    width: 100%;
    height: 800px;

    opacity:0; /*Элемент полностью прозрачный (невидимый)*/
    transition: 1s; /*Скорость перехода состояния элемента*/
    animation: show 1s 1; /* Указываем название анимации, её время и количество повторов*/
    animation-fill-mode: forwards; /* Чтобы элемент оставался в конечном состоянии анимации */
}
@keyframes show{
    0%{
        opacity:0;
    }
    100% {
        opacity:1;
    }
}