.map{
    position: fixed;
    width: 50%;
    height: 800px;


    opacity:0; /*Элемент полностью прозрачный (невидимый)*/
    transition: 1s; /*Скорость перехода состояния элемента*/
    animation: show 1s 1; /* Указываем название анимации, её время и количество повторов*/
    animation-fill-mode: forwards; /* Чтобы элемент оставался в конечном состоянии анимации */

    /* Для анимации */
    filter: alpha(opacity=100);
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
@keyframes show{
    0%{
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
.map.hide{
    visibility: hidden;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translateX(100%);
    transform: translateX(50%);
} 